---
---
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wait room Twitch</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pbutcher.uk/flipdown/css/flipdown/flipdown.css"/>
    <script defer src="https://pbutcher.uk/flipdown/js/flipdown/flipdown.js"></script>

	</head>
	<body>
		<slot/>
	</body>
</html>

<style>
  body {
		height: 100vh;
		overflow: hidden;
		margin: 0;
	}
</style>